<div class="container">
    <mat-drawer-container class="drawer-container" autosize class="drawer">
      <mat-drawer #drawer class="sidenav" mode="side">
        <mat-nav-list>
            @for (link of menuItems; track link) {
                <a
                    mat-list-item
                    href="#{{link}}"
                    (click)="$event.preventDefault(); activeMenu=link;"
                    [activated]="activeMenu === link"
                >
                    <mat-icon matListItemIcon>folder</mat-icon>
                    {{link}}
                </a>
            }
        </mat-nav-list>

      </mat-drawer>
    
      <!-- <div class="sidenav-content">
        <button type="button" (click)="drawer.toggle()">
         <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
        </button>
      </div> -->

      <mat-drawer-content>
         <div class="sidenav-content">
            <button type="button" (click)="drawer.toggle()">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
            </button>
        </div>
        <!-- <mat-toolbar color="primary">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar> -->
        <span>Smart Expense</span>

        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
    </mat-drawer-container>
</div>