<h2 mat-dialog-title class="dialog-title">Add Expenses</h2>

<mat-dialog-content class="upload-dialog-content">
  <div class="toolbar-container">
    <div class="entry-toolbar">
      <div class="upload-actions">
        <label class="file-picker" [class.has-file]="selectedFile">
          <input type="file" (change)="onFileSelected($event)" />
          <span>{{ filename || 'Choose statement' }}</span>
        </label>
        <button mat-raised-button class="action-button upload-button" (click)="upload()">Upload Statement</button>
      </div>
  
      <div class="manual-entry-actions">
        <mat-form-field appearance="outline">
          <mat-label>Number of expenses</mat-label>
          <input matInput type="number" min="1" [formControl]="manualExpenseControl">
        </mat-form-field>
        <button mat-raised-button class="action-button add-button" (click)="addManualDraftRows()">Add rows</button>
      </div>
    </div>
  </div>
  
  <form [formGroup]="draftForm">
    <table mat-table [dataSource]="draftRows.controls" *ngIf="draftRows.length > 0">
      <ng-container matColumnDef="srNo">
        <th mat-header-cell *matHeaderCellDef>Sr No</th>
        <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field color="accent" appearance="outline" class="table-field date-field">
            <input matInput [matDatepicker]="picker1" [formControl]="row.get('date')">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field appearance="outline" class="table-field category-field">
            <mat-select [formControl]="row.get('category')" panelClass="upload-expense-select-panel">
              <mat-option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let row">
          <mat-form-field appearance="outline" class="table-field">
            <input matInput type="text" [formControl]="row.get('description')">
          </mat-form-field>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="withdrawal">
        <th mat-header-cell *matHeaderCellDef>Withdrawal (&#8377;)</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field appearance="outline" class="table-field">
            <input matInput type="number" min="0" step="1" [formControl]="row.get('withdrawal')">
          </mat-form-field>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="deposit">
        <th mat-header-cell *matHeaderCellDef>Deposit (&#8377;)</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-form-field appearance="outline" class="table-field">
            <input matInput type="number" min="0" step="1" [formControl]="row.get('deposit')">
          </mat-form-field>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <button mat-button (click)="deleteDraftRow(i)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="draftDisplayedColumns"></tr>

      <tr mat-row *matRowDef="let row; columns: draftDisplayedColumns;"></tr>
    </table>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-raised-button class="save-button" (click)="saveExpenses()" [disabled]="!canSaveDrafts">Save</button>
</mat-dialog-actions>
